.icon {
    display: block;               
    margin: 100px auto;            
    width: 230px;                 
    height: auto;                 
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0)); 
}
