.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.styled-form {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 800px;
}

.styled-form h2 {
  font-size: 22px;
  color: #002147;
  margin-bottom: 20px;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.styled-form label {
  font-weight: 600;
  color: #002147;
}

.styled-form input {
  padding: 10px 12px;
  border: 2px solid #b1b1b1;
  border-radius: 6px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.buttons button {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

/* Botón de reinicio */
.buttons button[type="button"] {
  background-color: #e0e0e0;
  color: #333;
}

.buttons button[type="button"]:hover {
  background-color: #c0c0c0;
}


.buttons button[type="submit"] {
  background-color: #ffcc00;
  color: #002147;
}

.buttons button[type="submit"]:hover {
  background-color: #ffcc00;
}

.error small {
  color: red;
  font-size: 1em;
  font-family: Arial;
}

.general-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 7px;
  margin: 7px 0;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  font-weight: bold;
}

.required-asterisk {
  color: red;
}